:root {
  --primary-color: #7992C7;
  --overlay-color: rgba(46, 78, 148, 0.58);
  --menu-speed: 0.75s;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  /* background-color: #8648A3; */
  background-color: #2E4F94;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 5px;

}


/* .wrapper {
  display:flex;
  max-width:70%;
  justify-content: flex-end;
} */
.title h1 {
  font-family: 'Happy Monkey', cursive, 'Helvetica Neue',
    sans-serif;
  color: #FB9D73;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 5rem;
}

p {
  font-family: 'Happy Monkey', cursive;
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: left;
}

#navbar {
  /* position: absolute;
  right: 12px;
  top: -10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem; */
  text-align: center;
}

.navlink {
  padding: 1rem;
  margin-bottom: 1rem;

}

.navlink li {
  display: inline-block;
}

.navlink a {
  color: whitesmoke;
  padding-left: 2rem;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1rem;

}

#startShow {
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  animation: bounce-7;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.icon {
  display: "inline-block";
  vertical-align: middle;
}

@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-100px);
  }

  50% {
    transform: scale(1.05, .95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-7px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  margin-top: 1rem;
  transition: opacity 0.25s ease-in-out;
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.btn-info,
.btn-refresh {
  padding: 5px;
  border-radius: 50%;
}

.btn-close {
  background-color: #FB9D73;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.btn-refresh:hover {
  animation-name: spin;
  animation-duration: 1s;
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.btn-icon {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
}

.btn:hover {
  opacity: 0.8;
  /*   color: #FFEB11; */
}


.showlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .showlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .showlist {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .showlist {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }


  .image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }


  .btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.5rem 0.5rem;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }

  .btn-refresh {
    opacity: 1;
  }

  /* #navbar {
    position: absolute;
    right: 1px;
    top: -20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
  } */

}